<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Ypur post in detail</h2>
     <h3>post id : <%= posts.id %></h3>
    <div class="post">
       <h1 class="user"><%= posts.username %></h1>
       <box ><%= posts.content %></box> 
    </div>
</body>
</html>